.topnav {
  background-color: rgb(235, 173, 173);
  overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: #26617c;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: rgb(255, 245, 245);
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: #df95d5;
  color: white;
}

